Movies Recommender System

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('ratings.csv')
data.head(10)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [3]:
movie_titles_genre = pd.read_csv("movies.csv")
movie_titles_genre.head(10)

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy
5        6  ...                        Action|Crime|Thriller
6        7  ...                               Comedy|Romance
7        8  ...                           Adventure|Children
8        9  ...                                       Action
9       10  ...                    Action|Adventure|Thriller

[10 rows x 3 columns]

In [4]:
data = data.merge(movie_titles_genre,on='movieId', how='left')
data.head(10)

   userId  ...                                       genres
0       1  ...  Adventure|Animation|Children|Comedy|Fantasy
1       1  ...                               Comedy|Romance
2       1  ...                        Action|Crime|Thriller
3       1  ...                             Mystery|Thriller
4       1  ...                       Crime|Mystery|Thriller
5       1  ...                Action|Comedy|Horror|Thriller
6       1  ...               Adventure|Comedy|Crime|Romance
7       1  ...                             Action|Drama|War
8       1  ...                     Action|Drama|Romance|War
9       1  ...                                   Comedy|War

[10 rows x 6 columns]

In [5]:
Average_ratings = pd.DataFrame(data.groupby('title')['rating'].mean())
Average_ratings.head(10)

                                           rating
title
'71 (2014)                               4.000000
'Hellboy': The Seeds of Creation (2004)  4.000000
'Round Midnight (1986)                   3.500000
'Salem's Lot (2004)                      5.000000
'Til There Was You (1997)                4.000000
'Tis the Season for Love (2015)          1.500000
'burbs, The (1989)                       3.176471
'night Mother (1986)                     3.000000
(500) Days of Summer (2009)              3.666667
*batteries not included (1987)           3.285714

In [6]:
Average_ratings['Total Ratings'] = pd.DataFrame(data.groupby('title')['rating'].count())
Average_ratings.head(10)

                                           rating  Total Ratings
title
'71 (2014)                               4.000000              1
'Hellboy': The Seeds of Creation (2004)  4.000000              1
'Round Midnight (1986)                   3.500000              2
'Salem's Lot (2004)                      5.000000              1
'Til There Was You (1997)                4.000000              2
'Tis the Season for Love (2015)          1.500000              1
'burbs, The (1989)                       3.176471             17
'night Mother (1986)                     3.000000              1
(500) Days of Summer (2009)              3.666667             42
*batteries not included (1987)           3.285714              7

In [7]:
movie_user = data.pivot_table(index='userId',columns='title',values='rating')
movie_user.head(10)

title   '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
userId              ...
1              NaN  ...                                        NaN
2              NaN  ...                                        NaN
3              NaN  ...                                        NaN
4              NaN  ...                                        NaN
5              NaN  ...                                        NaN
6              NaN  ...                                        NaN
7              NaN  ...                                        NaN
8              NaN  ...                                        NaN
9              NaN  ...                                        NaN
10             NaN  ...                                        NaN

[10 rows x 9719 columns]

In [8]:
correlations = movie_user.corrwith(movie_user['Jumanji (1995)'])
correlations.head()

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2551: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

title
'71 (2014)                                NaN
'Hellboy': The Seeds of Creation (2004)   NaN
'Round Midnight (1986)                    NaN
'Salem's Lot (2004)                       NaN
'Til There Was You (1997)                 NaN
dtype: float64

In [9]:
recommendation = pd.DataFrame(correlations,columns=['Correlation'])
recommendation.dropna(inplace=True)
recommendation = recommendation.join(Average_ratings['Total Ratings'])
recommendation.head()

                                Correlation  Total Ratings
title
'burbs, The (1989)                 0.120173             17
(500) Days of Summer (2009)        0.397966             42
*batteries not included (1987)     0.719636              7
10 Cent Pistol (2015)             -1.000000              2
10 Cloverfield Lane (2016)         1.000000             14

In [10]:
recc = recommendation[recommendation['Total Ratings']>100].sort_values('Correlation',ascending=False).reset_index()

recc = recc.merge(movie_titles_genre,on='title', how='left')
recc.head(10)

                         title  ...                                      genres
0               Jumanji (1995)  ...                  Adventure|Children|Fantasy
1           Cliffhanger (1993)  ...                   Action|Adventure|Thriller
2             True Lies (1994)  ...    Action|Adventure|Comedy|Romance|Thriller
3    Back to the Future (1985)  ...                     Adventure|Comedy|Sci-Fi
4        Mrs. Doubtfire (1993)  ...                                Comedy|Drama
5              Net, The (1995)  ...                       Action|Crime|Thriller
6         Trainspotting (1996)  ...                          Comedy|Crime|Drama
7               Twister (1996)  ...           Action|Adventure|Romance|Thriller
8      Incredibles, The (2004)  ...  Action|Adventure|Animation|Children|Comedy
9  Bourne Identity, The (2002)  ...                     Action|Mystery|Thriller

[10 rows x 5 columns]